.wrapper{
    margin: 200px 300px 200px 300px;
    background-color: rgb(244,244,244);
}

.additionBTN{

    background-color: rgb(251,113,0);
}

.card{
    border-left: rgb(251,113,0) solid 3px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.title{
    color: rgb(251,113,0);

}